<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>ADDRESS</th>
        <th>CREATE_TIME</th>
        <th>UPDATE_TIME</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPhone()}"></td>
        <td th:text="${user.getAddress()}"></td>
        <td th:text="${user.getCreate_time()}"></td>
        <td th:text="${user.getUpdate_time()}"></td>
    </tr>
</table>
</body>
</html>